
@{
    ViewBag.Title = "PaidView";
}

<h2>PaidView</h2>

<!DOCTYPE html>
<html>
<head>
    <style>
        body{
            font-family: Arial, sans-serif;
            text-align: center;
        }
        h2{
            color: #007bff;
        }

        .success-message{
            font-size: 24px;
            color:#28a745;
            margin-top: 50px;
        }
    </style>
</head>

<body>
    
    <div class="success-message">
        Yay! Your Order has been placed.
    </div>
</body>
</html>